{% extends 'base.html.twig' %}

{% block title %}New Suggestion{% endblock %}

{% block body %}
    <h1>Suggest a book</h1>
    <h2>Fill in the form to suggest a new book.</h2>

    {{ include('suggestion/_form.html.twig') }}

{% endblock %}
