{% extends 'base.html.twig' %}

{% block title %}New Reply{% endblock %}

{% block body %}
    <h1>Respond applications</h1>
    <h2>Fill in the form to create respond an application.</h2>

    {{ include('reply/_form.html.twig') }}

    <a href="{{ path('reply_index') }}">back to list</a>
{% endblock %}
