{% extends 'base.html.twig' %}

{% block title %}
    DUBCO
{% endblock %}

{% block body %}
    <h1>Dublin Book Clubs Online: DUBCO</h1>
    <label>Welcome to the Dublin Book Clubs Online official site.</label>

    {% if is_granted('NULL') %}
        <p>
            nodfdfdsf
        </p>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <p>
        User home page.
        </p>
    {% endif %}

    {% if is_granted('ROLE_STAFF') %}
        <p>
        Staff home page.
        </p>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <p>
        Admin home page.
        </p>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>
            Welcome, {{ app.user.username }} of book club {{ app.user.club }}.
        </p>
    {% endif %}


{% endblock %}

