{% extends 'base.html.twig' %}

{% block title %}
    DUBCO
{% endblock %}

{% block body %}
    <h1>Dublin Book Clubs Online: DUBCO</h1>
    Welcome to the Dublin Book Clubs Online official site.

    {% if is_granted('NULL') %}
        <p>
            nodfdfdsf
        </p>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <p>
        User home page.
        </p>
    {% endif %}

    {% if is_granted('ROLE_STAFF') %}
        <p>
        Staff home page.
        </p>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <p>
        Admin home page.
        </p>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>
            Username: {{ app.user.username }}
        </p>
        <p>
            Club: {{ app.user.club }}
        </p>
    {% endif %}


{% endblock %}

