{% extends 'base.html.twig' %}

{% block title %}New Application{% endblock %}

{% block body %}
    <h1>Join a club</h1>

    {{ include('application/_form.html.twig') }}

    <a href="{{ path('application_index') }}">back to list</a>
{% endblock %}
