{% extends 'base.html.twig' %}

{% block title %}New Application{% endblock %}

{% block body %}
    <h1>Apply for a club</h1>
    <h2>Fill in the form to apply for a club.</h2>

    {{ include('application/_form.html.twig') }}

    <a href="{{ path('reply_index') }}">back to list</a>
{% endblock %}
