<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    <style>
        footer {
            color: white;
            background-color: blue;
            padding: 0.5rem;
        }

        h1 {
            color: white;
        }
        body {
            background-color: deepskyblue;
        }

        table, tr, td {
            border: 0.1rem solid black;
        }
    </style>

    {% block javascripts %}
    {% endblock %}
</head>

<body>

{% block body %}{% endblock %}


<hr>
<nav>
    <ul>
        <li>
            <a href="{{ url('home') }}">
                Home
            </a>
        </li>
        <li>
            <a href="{{ url('book') }}">
                Books
            </a>
        </li>
        <li>
            <a href="{{ url('club') }}">
                Clubs
            </a>
        </li>
    </ul>
</nav>

<footer>
    By Linyuan.
</footer>

</body>

</html>